.todoListMain .header input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;
    width: 165px;
}
.todoListMain .header button {
    padding: 10px;
    font-size: 16px; 
    margin: 10px;
    margin-right: 0px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF; 
}
.todoListMain .header button:hover {
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;
}
.todoListMain .theList li {
    color: #333;
    background-color: rgba(255, 255, 255, .5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    transition: background-color .2s ease-out;
}
.todoListMain .theList li.status-0 {
    background-color: #ff6b6b;
}
.todoListMain .theList li.status-1 {
    background-color: #1dd1a1;
}
.todoListMain .theList li.status-2 {
    background-color: #647382;
}
.card-buttons {
    display: flex;
    flex-direction: column;
}
.card-button {
    border-width: 0;
    border-radius: 3px;
    margin: 3px 0;
}
.card-texts {
    display: flex;
    flex-direction: column;
}
.status-name {
    font-size: 12px;
}
.task-name {
    font-weight: bold;
}
ul.theList {
    padding: 0;
}